@model DDS.Web.ViewModels.Diplomas.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Диплома</h1>
@*@foreach (var diploma in Model.Diplomas)
{

    <div class="row">
        <div class="col-md-12">
            <a href="Diplomas/Details/@diploma.Id">@diploma.Title</a>
            <div>@diploma.Description</div>
        </div>

    </div>*@
    @*@foreach (var tag in Model.Tags)
    {
        <a href="#PostsWithTag">@tag.Name</a>
    }*@
}
