@model IEnumerable<DDS.Web.ViewModels.ManageDiplomas.CommonDiplomaViewModel>


@{
    ViewBag.Title = "Начална страница";
}

<h2>
    ПРЕПОРЪКИ И УКАЗАНИЯ ЗА ОФОРМЯНЕТО НА ДИПЛОМНИТЕ ЗАДАНИЯ, ДИПЛОМНИТЕ РАБОТИ И ПРОВЕЖДАНЕТО НА ДИПЛОМНИТЕ ЗАЩИТИ
</h2>
<p>
    Срокът на валидност на утвърденото дипломно задание е една учебна година.
    Смяната на дипломен ръководител, след като заданието е утвърдено, става с подадена молба до Декана на ФКСУ, в която настоящият ръководител изразява писмено съгласието си за смяната.
    При предаване на заданието във факултетната канцелария за заверка се носи актуална снимка. Дипломи без снимки не се издават.
</p>

<h4>Относно процедурата за избор на ръководител:</h4>
<p>Изборът се извършва по инициатива на дипломанта и със съгласието на желания от него ръководител. За ръководител на дипломната работа може да бъде избран всеки специалист с висше техническо образование. В случаите когато ръководителя на дипломната работа не е преподавател във ФКСУ, е задължително такъв преподавател да бъде избран за консултант на дипломната работа.</p>

<h4>
    Относно процедурата за утвърждаването на заданието:
</h4>
<p>
    Дипломното задание се оформя от ръководителя на дипломанта. Заданието се попълва, разпечатва и подписва от дипломанта, ръководителя и консултанта (ако има такъв). Представя от дипломанта във факултетната канцелария на ФКСУ за получаване на заверка "Семестриално завършил". След това се представя в канцеларията на катедра "Компютърни системи" за утвърждаване от страна на ръководителя на катедрата. В случаите, когато заданието не отговаря на изискванията, то се връща за отстраняване на посочените от ръководителя на катедрата недостатъци или пропуски. След утвърждаване от ръководителя на катедрата, заданието се представя от техническия сътрудник на катедрата за утвърждаваже от страна на декана. Дипломантът получава лично в канцеларията на катедрата така утвърденото задание, което трябва да повърже в дипломната си работа.
</p>
<h4>
    Относно оформянето на заданието:
</h4>
    Темата съдържа като заглавие непосредствената задача, която се поставя за разрешаване на дипломанта.
<p>
    В изходната постановка се задават необходимите апаратни и програмни средства, които дипломантът трябва да използува в своята работа:
    - елементна база, електронни и цифрови устройства, други машини и апарати;
    - програмни среди, езици за програмиране, програмни продукти за автоматизация на проектирането, симулатори и др.
    Възможно е в изходната постановка да бъдат зададени като цели и някои основни параметри, които дипломантът трябва да трябва да постигне в процеса на своята работа.
    В обяснителната записка се представя съдържанието на дипломната работа по глави.
    В експерименталната част на заданието се задава вида на експериментите, които ще бъдат проведени, както и формата, в която ще бъдат представени резултатите от проведените експерименти (времедиаграми, таблици, графики, и др.)
</p>
