@{
    ViewBag.Title = "Начална страница";
}

<h2>
    Препоръки и указания за оформянето на дипломни задания, дипломните работи и провеждането на дипломните защити
</h2>
<div class="row">
    <div class="col-xs-12">
        <h4>Срокове и дати за защита</h4>
        <ul>
            <li>Редовна сесия: <time>08/02/2016</time></li>
            <li>Поправителна сесия: <time>21/06/2016</time></li>
            <li>Ликвидационна сесия: <time>19/09/2016</time></li>
        </ul>
        <p>
            Срокът на валидност на утвърденото дипломно задание е една учебна година.
            Смяната на дипломен ръководител, след като заданието е утвърдено, става с подадена молба до Декана на ФКСУ, в която настоящият ръководител изразява писмено съгласието си за смяната.
            При предаване на заданието във факултетната канцелария за заверка се носи актуална снимка. Дипломи без снимки не се издават.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Относно процедурата за избор на ръководител:</h4>
        <p>
            Изборът се извършва по инициатива на дипломанта и със съгласието на желания от него ръководител. За ръководител на дипломната работа може да бъде избран всеки специалист с висше техническо образование. В случаите когато ръководителя на дипломната работа не е преподавател във ФКСУ, е задължително такъв преподавател да бъде избран за консултант на дипломната работа.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Относно процедурата за утвърждаването на заданието:</h4>
        <p>
            Дипломното задание се оформя от ръководителя на дипломанта. Заданието се попълва, разпечатва и подписва от дипломанта, ръководителя и консултанта (ако има такъв). Представя от дипломанта във факултетната канцелария на ФКСУ за получаване на заверка "Семестриално завършил". След това се представя в канцеларията на катедра "Компютърни системи" за утвърждаване от страна на ръководителя на катедрата. В случаите, когато заданието не отговаря на изискванията, то се връща за отстраняване на посочените от ръководителя на катедрата недостатъци или пропуски. След утвърждаване от ръководителя на катедрата, заданието се представя от техническия сътрудник на катедрата за утвърждаваже от страна на декана. Дипломантът получава лично в канцеларията на катедрата така утвърденото задание, което трябва да повърже в дипломната си работа.
        </p>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Относно оформянето на заданието:</h4>
        <p>
            Темата съдържа като заглавие непосредствената задача, която се поставя за разрешаване на дипломанта.
        </p>
        <p>
            В изходната постановка се задават необходимите апаратни и програмни средства, които дипломантът трябва да използува в своята работа:
            - елементна база, електронни и цифрови устройства, други машини и апарати;
            - програмни среди, езици за програмиране, програмни продукти за автоматизация на проектирането, симулатори и др.
            Възможно е в изходната постановка да бъдат зададени като цели и някои основни параметри, които дипломантът трябва да трябва да постигне в процеса на своята работа.
            В обяснителната записка се представя съдържанието на дипломната работа по глави.
            В експерименталната част на заданието се задава вида на експериментите, които ще бъдат проведени, както и формата, в която ще бъдат представени резултатите от проведените експерименти (времедиаграми, таблици, графики, и др.)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Относно оформянето и съдържанието на дипломната работа:</h4>
        <p>
            Препоръчителният обем на дипломната работа за бакалаври е от 40 до 50 страници, а за магистри от 50 до 60 страници, структурирани по следния начин:
        </p>
        <ul>
            <li>заглавна страница;</li>
            <li>утвърдено дипломно задание;</li>
            <li>съдържание;</li>
            <li>увод;</li>
            <li>изложение на дипломната работа по глави;</li>
            <li>заключение;</li>
            <li>списък на използувани литературни източници;</li>
            <li>приложения.</li>
        </ul>
        <p>
            <strong>Уводът</strong> съдържа резюме на дейностите извършени от дипломанта в процеса на дипломното проектиране.
        </p>
        <p>
            <strong>Изложението</strong> на дипломната работа по глави представя процеса на разработка на дипломната работа. В него точно се формулира инженерния проблем, който предстои да бъде решен и изискванията, на които представеното решение трябва да отговаря. Дипломантът трябва да наблегне основно на инженерния аспект на извършена от него конкретна работа, в процеса на проектиране и реализация на поставената в заданието задача. Впоследствие трябва да представи и анализира получените резултати.
        </p>
        <p>
            Изложението на дипломните работи за магистри трябва да съдържа допълнително литературен обзор, както и анализ на множество възможни решения и обосновка на направения конкретен избор.
        </p>

        <h5>Примери за структуриране на изложението:</h5>
        <div class="row">
            <div class="col-sm-6">
                <h5>за разработка на апаратни средства:</h5>
                <ul>
                    <li>цел и задачи;</li>
                    <li>синтез на блокова схема на устройството;</li>
                    <li>обосновка на избора на елементна база;</li>
                    <li>проектиране на електрическа схема;</li>
                    <li>проектиране на печатна платка;</li>
                    <li>тестване и настройки.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h5>за разработка на програмна система:</h5>
                <ul>
                    <li>цел и задачи;</li>
                    <li>синтез на структура, функции на системата и потребителски интерфейси;</li>
                    <li>проектиране на блок схеми на алгоритми, формати на бази данни, времедиаграми на комуникационни протоколи;</li>
                    <li>програмна реализация- обща структура, йерархия на класове, коментар на изходния текст на програмата;</li>
                    <li>опитни резултати.</li>
                </ul>
            </div>
        </div>
        <p>
            <strong>Заключението</strong> резюмира основните характеристики и особености на на представеното инженерно решение, неговите предимства и недостатъци, резултатите от експериментите, тяхната инженерна трактовка и предложения за по-нататъшна работа върху решаването на зададения проблем.
        </p>
        <p>
            <strong>Приложения</strong> - съдържа изходен текст на програми, формати на структури от данни, екранни форми, получени резултати, електрически схеми, графични оригинали на печатни пратки, справочни данни и др.
        </p>

        <h4>Относно определяне и утвърждаване на рецензент:</h4>
        <p>
            Рецензентът на дипломната работа се определя от ръководителя на катедра "Компютърни системи" по предложение на ръководителя на дипломната работа.
            За рецензент на дипломната работа може да бъде избран всеки специалист с висше техническо образование, притежаващ нужните познания в съответната област . В случаите когато ръководителя на дипломната работа не е преподавател във ФКСУ, е задължително такъв преподавател да бъде избран за рецензент на дипломната работа.
            Ръководителят на дипломнанта записва своето предложение за рецензент на гърба на началната страница на дипломната работа. Дипломантът го представя в канцеларията на катедра "Компютърни системи". След утвърждаване на рецензента от страна на ръководителя на катедрата, дипломантът представя дипломната работа на рецензента.
        </p>
        <h4>Относно провеждането на дипломните защити:</h4>
        <p>
            Процедурата по защита на дипломната работа се стартира в определения за ФКСУ график, след представянето на готовата дипломна работа и рецензията в канцеларията на катедра "Компютърни системи". Дипломантът се насочва към съответната изпитна комисия от отговорника по диломните работи или от ръководителя на катедрата. Датата на дипломната защита се определя от председателя на изпитната комисия.
            За провеждане на защитата дипломантът трябва да подготви:
        </p>
        <ul>
            <li>помощни табла с достатъчно голям размер, които да могат да бъдат наблюдавани от комисията от разстояние до около 4 метра;</li>
            <li>изложение върху същността на дипломната работа и демонстрация на създадения продукт с продължителност съответно около 7 и 3 минути;</li>
            <li>Възможно е вместо на табла, материалът да бъде представен чрез компютър и прожектор (например презентация на PowerPoint). В този случаи дипломантът трябва да представи отделно на всеки от членовете на комисията набор с листа съдържащи разпечатка на показваните материали.</li>
        </ul>
    </div>
</div>

